`rfc7230` violation

I found it when tried to use it as client with proxy.
When connecting to proxy `websocket-sharp` sends `CONNECT` request to proxy with `request-target`'s authority component not equal to `Host` header (if port is 80), while [RFC 7230, section 5.4: Host](https://tools.ietf.org/html/rfc7230#section-5.4) states:

> If the target URI includes an authority component, then a
   client MUST send a field-value for Host that is identical to that
   authority component, excluding any userinfo subcomponent and its "@"
   delimiter (Section 2.7.1).

So, to match `rfc7230` definition `port == 80` check in [this line](https://github.com/sta/websocket-sharp/blob/2dbc62df9c1171e1a72e00dba223b2fd7de7856d/websocket-sharp/HttpRequest.cs#L125) should be removed